{% extends "base.html" %}
{% block content %}
<h2>今月の一枚</h2>
<img src="/static/img/{{top_img[0]}}" alt="" class="top_img1">
<h1 class="top_comment">{{top_img[1]}}</h1>

<h2>最新投稿</h2>
<div class="container_img">
    <div class="item">
        <img src="/static/img/{{new_imgs[0][0]}}" alt="" class="top_img6">
        <p>{{new_imgs[0][1]}}</p>
    </div>
    <div class="item">
        <img src="/static/img/{{new_imgs[1][0]}}" alt="" class="top_img6">
        <p>{{new_imgs[1][1]}}</p>
    </div> 
    
</div>
    
<div class="container_img">
    <div class="item">
        <img src="/static/img/{{new_imgs[2][0]}}" alt="" class="top_img6">
        <p>{{new_imgs[1][1]}}</p>
    </div>
    <div class="item">
        <img src="/static/img/{{new_imgs[3][0]}}" alt="" class="top_img6">
        <p>{{new_imgs[1][1]}}</p>
    </div>
</div>

<h2>ジャンル</h2>
<div class="junru">
    <div class="junru_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">{{site_name[0][0]}}</button>
    </div>
    <div class="junru_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">{{site_name[1][0]}}</button>
    </div> 
    <div class="junru_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">{{site_name[2][0]}}</button>
    </div> 
    <div class="junru_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">{{site_name[3][0]}}</button>
    </div>
    <div class="junru_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">{{site_name[4][0]}}</button>
    </div>
    <div class="junru_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">{{site_name[5][0]}}</button>
    </div>
    <div class="junru_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">{{site_name[6][0]}}</button>
    </div>
</div>

<h2>校区</h2>
<div class="kouku">
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">代陽</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">八代</button>
    </div> 
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">松高</button>
    </div> 
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">八千把</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">松高</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">太田郷</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">植柳</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">麦島</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">高田</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">金剛</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">郡築</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">昭和</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">宮地</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">龍峯</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">日奈久</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">二見</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">坂本</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">千丁</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">鏡</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">東陽</button>
    </div>
    <div class="kouku_button">
        <button onclick="location.href='https://techacademy.jp/magazine/'">泉</button>
    </div>
</div>
{% endblock %}