{% extends "base.html" %}
{% block content %}
    <h3>{{profile[0][0]}}さんのページ</h3>
    <div class="profile">ニックネーム：{{profile[0][0]}}<br>
                        校区：{{profile[0][1]}}
    </div>

{% for item in brows_list %}
<div class="container_brows_img">
    <div>
        <img src="/static/img/{{item["picture"]}}">
    </div>
    <div>
        <div class="contributor">投稿者：{{item["user_id"]}}</div>
        <div class="brows_comment">{{item["comment"]}}</div>
        <div class="junru_name">ジャンル：{{item["junru_name"]}}</div>
        <div class="kouku_name">校区：{{item["site_name"]}}</div>
        <div class="contribut_time">投稿時間：{{item["time"]}}</div>
    </div>
</div>
{% endfor %}

{% endblock %}